*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #1f242d;
    color: #fff;
}
.header{
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    cursor: default;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
}
#services{
    padding-top: 130px;
    margin-left: 30px;
}
.sub-title{
    text-align: center;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 100px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.service-list div{
    background: #262626;;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 5px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.service-list div p{
    font-size: 18px;
    justify-content: space-between;
    word-wrap: break-word;

}
.service-list div:hover{
    background-color: #0ef;
    transform: translateY(-10px);
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    cursor: pointer;
    margin-left: 70px;
}
.footer{
    padding-top: 30px;
   background: black;
   text-align: center;
}


/*keyrames animation*/
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}