*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #1f242d;
    color: #fff;
}
.header{
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    cursor: default;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
}
.contact-left{
    margin-left: 30px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.contact-right{
    margin-left: 70px;
    padding-top: 50px;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #0ef;
    margin-right: 15px;
    font-size: 25px;
}
.row{
    display: flex;
    margin-top: 100px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-icons a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.contact-right form{
    width: 50%;
    margin-top: 50px;
    padding-top: 20px;
}
form input, form textarea{
    width: 70%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 10%;
    color: #0ef;
    font-size: 18px;
    border-radius: 8px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.5s;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.5s;
    cursor: pointer;
    margin-left: 70px;
}
.footer{
    padding-top: 30px;
    margin-top: 135px;
   background: black;
   text-align: center;
}

/*keyrames animation*/
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}